@using LocationDeVoitures.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-3.5.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>


    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-3.5.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.js")"></script>

</head>
<body>
    <div class="navbar navbar-expand-sm navbar-dark fixed-top" style="background: #5565a0;">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                </button>
                <h4>
                    @Html.ActionLink("LocationDeVoitures", "Index", "Home", null, new { @class = "nav-link active text-dark" })
                </h4>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("accueil", "Index", "Home",null, new { @class = "nav-link active text-light" })</li>
                    <li class="nav-item">@Html.ActionLink("Voitures", "Index", "Voitures",null, new { @class = "nav-link active text-light" })</li>
                    @if (User.IsInRole(MesConstants.RoleAdministrateur) || User.IsInRole(MesConstants.RoleLocataire))
                    {
                        <li class="nav-item">@Html.ActionLink("Agences", "Index", "Agences",null, new { @class = "nav-link active text-light" })</li>
                    }
                    @if (User.IsInRole(MesConstants.RoleAdministrateur) || User.IsInRole(MesConstants.RoleAgence))
                    {
                        <li class="nav-item">@Html.ActionLink("Locataires", "Index", "Locataires", null, new { @class = "nav-link active text-light" })</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>

    <main class="d-flex">

        @if (User.Identity.IsAuthenticated)
        {

            <nav class="col-2 d-md-block navbar-dark backcolor">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            @Html.ActionLink("Tableau de bord", "Dashboard", "Manage", routeValues: null, new { @class = "nav-link active text-light" })
                        </li>

                        @if (User.IsInRole(MesConstants.RoleAdministrateur))
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Liste Des Problèmes", "Index", "Problemes", routeValues: null, new { @class = "nav-link active text-light" })
                            </li>
                        }
                        @if (User.IsInRole(MesConstants.RoleAgence))
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Ajouter Voiture", "Create", "Voitures", routeValues: null, new { @class = "nav-link active text-light" })
                            </li>
                        }
                        <li class="nav-item">
                            @Html.ActionLink("Liste Favoris", "Index", "ListFavoris", routeValues: null, new { @class = "nav-link active text-light" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Liste Noire", "Index", "ListNoire", routeValues: null, new { @class = "nav-link active text-light" })
                        </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span class="text-dark">Profile</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            @if (User.IsInRole(MesConstants.RoleAdministrateur))
                            {
                                @Html.ActionLink("Mettre à jour le profil", "Edit", "Administrateurs", routeValues: null, new { @class = "nav-link active text-light" })
                            }
                            else if (User.IsInRole(MesConstants.RoleAgence))
                            {
                                @Html.ActionLink("Mettre à jour le profil", "Edit", "Agences", routeValues: null, new { @class = "nav-link active text-light" })
                            }
                            else if (User.IsInRole(MesConstants.RoleLocataire))
                            {
                                @Html.ActionLink("Mettre à jour le profil", "Edit", "Locataires", routeValues: null, new { @class = "nav-link active text-light" })
                            }
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("changez votre mot de passe", "ChangePassword", "Manage", routeValues: null, new { @class = "nav-link active text-light" })
                        </li>
                    </ul>
                </div>
            </nav>
        }
        <div class="p-4 w-100">
            @RenderBody()
        </div>
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @section styles{}
    </body>
</html>
