@model LocationDeVoitures.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div style="text-align: -webkit-center;">
    <div class="col-md-6 login-sec container-login">
        <h2 class="text-center">Changer le mot de passe</h2>
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "login-form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "text-uppercase float-left" })
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "text-uppercase float-left" })
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "text-uppercase float-left" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <button type="submit" class="btn btn btn-primary w-100 btn-login float-right">Change password</button>
        }
    </div>
</div>