@model IEnumerable<LocationDeVoitures.Models.Locataire>
@{
    ViewBag.Title = "Index";
}


<div style="text-align: -webkit-center;">
    <div class="col-md-10 login-sec container-login">
        <h2>Liste Des Locataires</h2>
        <table class="table">
            <tr>
                <th>
                    Nom
                </th>
                <th>
                    Prenom
                </th>
                <th>
                    CIN
                </th>
                <th>
                    Address
                </th>
                <th>
                    Ville
                </th>
                <th>

                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prenom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CIN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ville)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", "Locataires", new { id = item.LocataireID }, null)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
