@model LocationDeVoitures.Models.Agence
@{
    ViewBag.Title = "Create";
}

<div style="text-align: -webkit-center;">
    <div class="col-md-6 login-sec container-login">
        <h2>Créer Une Agence</h2>

        @using (Html.BeginForm("Agence", "Profile", FormMethod.Post, new { @class = "login-form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.Nom, new { @class = "text-uppercase float-left" })
                @Html.TextBoxFor(m => m.Nom, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Nom, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CodeAgence, new { @class = "text-uppercase float-left" })
                @Html.TextBoxFor(m => m.CodeAgence, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CodeAgence, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Address, new { @class = "text-uppercase float-left" })
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Ville, new { @class = "text-uppercase float-left" })
                @Html.TextBoxFor(m => m.Ville, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Ville, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Tel, new { @class = "text-uppercase float-left" })
                @Html.TextBoxFor(m => m.Tel, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Tel, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NCardCredit, new { @class = "text-uppercase float-left" })
                @Html.TextBoxFor(m => m.NCardCredit, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NCardCredit, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AddressPayPal, new { @class = "text-uppercase float-left" })
                @Html.TextBoxFor(m => m.AddressPayPal, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.AddressPayPal, "", new { @class = "text-danger" })
            </div>
            <button type="submit" class="btn btn btn-primary w-100 btn-login float-right">Create</button>
        }
    </div>
</div>