@model LocationDeVoitures.Models.MasterModelVoiture

@{
    ViewBag.Title = "Contact";
}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Bienvenu</h1>
    </div>
    <ul class="vouture-list">
        <li class="col-3 m-0">
            <div class="vouture-wraper">
                <div class="vouture-image text-center p-2">
                    <h5>@ViewBag.Voitures voitures</h5>
                </div>
            </div>
        </li>
        <li class="col-3 m-0">
            <div class="vouture-wraper">
                <div class="vouture-image text-center p-2">
                    <h5>@ViewBag.Agences Agences</h5>
                </div>
            </div>
        </li>
        <li class="col-3 m-0">
            <div class="vouture-wraper">
                <div class="vouture-image text-center p-2">
                    <h5>@ViewBag.Locataires Locataires</h5>
                </div>
            </div>
        </li>
        <li class="col-3 m-0">
            <div class="vouture-wraper">
                <div class="vouture-image text-center p-2">
                    <h5>@ViewBag.Offres offres spéciales</h5>
                </div>
            </div>
        </li>
    </ul>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Les Offres spéciales</h1>
    </div>
    <ul class="vouture-list">
        @foreach (var item in Model.VoitureList)
        {

            <li class="col-4 m-0">
                <div class="vouture-wraper">
                    <div class="vouture-image">
                        @{
                            var base64 = Convert.ToBase64String(item.Image);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                        <img src="@imgSrc" style="height: 200px; width: 100%;" />
                    </div>
                    <div class="vouture-detial-num">
                        <div class="vouture-detial-prix">
                            <p class="bg-info">@Html.DisplayFor(modelItem => item.Prix) DH/h</p>
                            <p class="bg-info"> @Html.DisplayFor(modelItem => item.Km) Km</p>
                        </div>
                    </div>
                    <div class="vouture-detial">
                        <div class="vouture-detial-text">
                            <div class="vouture-detial-desc">
                                @Html.ActionLink(item.Marque+" "+ item.Module, "Details", "Voitures", new { id = item.VoitureID }, new { @class = "p-2" })                                
                                <span class="float-right border border-danger p-1 m-1">Offres de @Model.OffreeList.Find(o => o.VoitureID == item.VoitureID).Pourcentage %</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
