@model LocationDeVoitures.Models.Offre

@{
    ViewBag.Title = "Create";
}
<div style="text-align: -webkit-center;">
    <div class="col-md-7 login-sec container-login">
        <h2>Create Offre</h2>

        @using (Html.BeginForm(new { Id_Voiture = ViewBag.Id_Voiture }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Pourcentage, new { @class = "text-uppercase float-left" })
                @Html.TextBoxFor(m => m.Pourcentage, new { @class = "form-control", @type = "number", @step = "0.01" })
                @Html.ValidationMessageFor(m => m.Pourcentage, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Data, new { @class = "text-uppercase float-left" })
                @Html.TextBoxFor(m => m.Data, new { @class = "form-control", @type = "datetime-local" })
                @Html.ValidationMessageFor(m => m.Data, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Duree, new { @class = "text-uppercase float-left" })
                @Html.TextBoxFor(m => m.Duree, new { @class = "form-control", @type = "number" })
                @Html.ValidationMessageFor(m => m.Duree, "", new { @class = "text-danger" })
            </div>

            <button type="submit" class="btn btn btn-primary w-100 btn-login float-right">Create</button>
        }
    </div>
</div>
