@model IEnumerable<LocationDeVoitures.Models.Offre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VoitureOffre.Matricule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pourcentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duree)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VoitureOffre.Matricule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pourcentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duree)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OffreID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OffreID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OffreID })
        </td>
    </tr>
}

</table>
